// Application spacing
$margin: 16px;
$padding: 16px;

// Font sizes
$page-title: clamp(36px, 6vw, 64px);
$hearo-2: 28px;
$hearo-1: 18px;
$hearo: 16px;
$small: 14px;
$xsmall: 12px;

// Animations
$transition-speed: 250ms;

// Height
$page-body-height: 76vh;
