@import '../../styles/variables';

.app__header {
	font-size: calc(10px + 2vmin);
	padding: $margin + $margin / 2 0 0 0;
	text-align: center;
	&__title {
		font-size: $page-title;
		font-weight: normal;
	}
	&__change-theme {
		position: absolute;
		right: 0;
		top: 0;
		font-size: calc(6px + 0.6vmin);
		color: $white;
		font-weight: bold;
		background-color: $btn-color-1;
		.selected {
			background-color: $btn-color-2;
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
		&--light {
			display: inline-block;
			padding: 6px 10px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		&--dark {
			display: inline-block;
			padding: 6px 10px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
